@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: yekan;
  src: url(../fonts/IRANYekanWeb.eot);
  src: url(../fonts/IRANYekanWeb.ttf);
  src: url(../fonts/IRANYekanWeb.woff);
  src: url(../fonts/IRANYekanWeb.woff2);
}
@theme {
  --font-yekan: yekan;
  --color-b: rgba(0, 0, 0, 0.5);
}
